<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link href="./styles/home.css" rel="stylesheet" />
    <title>User Profile</title>
  </head>
  <body>
    <!--pre-cont-->

    <div class="loader"></div>

    <div class="opener">
      <img src="./images/stalker_logo.png" />
    </div>

    <!------------->

    <div class="area">
      <% if (setup === true) { %>
      <!--Setup-->

      <div class="q-container">
        <div class="prompt jost">
          <h2>Before you get started, we'll need a little more information:</h2>
        </div>
        <div class="setup_form">
          <form action="/user-setup" method="POST">
            <p class="jost">How should we refer to you?</p>
            <input
              class="name"
              type="text"
              name="name"
              placeholder="Name"
              maxlength="10"
              required
            />
            <input
              id="hiddenInput"
              type="text"
              name="selection"
              style="visibility: hidden"
              value=""
            />
            <p class="jost">What are you most interested in?</p>
            <div class="stock_options">
              <div class="top">
                <input
                  class="option jost"
                  id="Crypto"
                  type="button"
                  value="Crypto"
                />
                <input
                  class="option jost"
                  id="Forex"
                  type="button"
                  value="Forex"
                />
                <input
                  class="option jost"
                  id="ETFs"
                  type="button"
                  value="ETFs"
                />
              </div>
              <div class="bottom">
                <input
                  class="option jost"
                  id="Index"
                  type="button"
                  value="Index"
                />
                <input
                  class="option jost"
                  id="Equities"
                  type="button"
                  value="Equities"
                />
              </div>
            </div>
            <button class="jost sub" type="submit">Submit</button>
          </form>
        </div>
      </div>

      <% } else { %>
      <!--User Greet-->

      <div class="greet-container">
        <div class="greet">
          <div class="first jost-head">Welcome,</div>
          <div class="second jost-head"><%= profile[0].name %></div>
        </div>
        <div class="block"></div>
      </div>

      <% } %>

      <!--Home-->

      <!--nav-->

      <div class="nav hide">
        <div class="side-button">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <!--side bar-->

        <div class="side-nav nav-hide">
          <div class="closer"></div>
          <div class="side-cont">
            <div class="side-head">
              <h2 class="jost-head"><%= profile[0].name %></h2>
              <p class="jost"><%= profile[0].username %></p>
            </div>
            <div class="side-body jost">
              <div class="personal">
                <h2>Personal</h2>
                <ul>
                  <li>Favorites</li>
                </ul>
              </div>
              <div class="options">
                <h2>Options</h2>
                <ul>
                  <li class="stock_option" value="crypto">Crypto</li>
                  <li class="stock_option" value="index">Index</li>
                  <li class="stock_option" value="forex">Forex</li>
                  <li class="stock_option" value="equities">Equities</li>
                  <li class="stock_option" value="etfs">ETFs</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="search">
          <form class="user_search" action="/search" method="GET">
            <input
              id="input"
              type="text"
              name="search"
              placeholder="Search over 1000's of stocks"
            />
            <input id="search" type="submit" value="Go" />
          </form>
        </div>

        <div class="profile">
          <form action="/user-profile" method="GET">
            <input
              type="image"
              src="./images/profike_icon.png"
              alt="profile settings"
            />
          </form>
        </div>
        <div id="overlay"></div>
      </div>

      <!--Main Content-->

      <div class="wrapper hide">
        <% if (profile[0].stock_pref === 'Equities' || profile[0].stock_pref === 'Index' || profile[0].stock_pref === 'ETFs') { %>

        <div class="filter">
          <form action="/filter" method="GET">
            <div class="country">
              <label for="country" class="jost">Country</label>
              <select name="country" id="country">
                <option value="">Any</option>
                <% for (let i = 0; i < countries.length; i++) { %>
                <option value="<%= countries[i] %>"><%= countries[i] %></option>
                <% } %>
              </select>
            </div>
            <div class="currency">
              <label for="currency" class="jost">Currency</label>
              <select name="currency" id="currency">
                <option value="">Any</option>
                <% for (let i = 0; i < currencies.length; i++) { %>
                <option value="<%= currencies[i] %>">
                  <%= currencies[i] %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="exchange">
              <label for="exchange" class="jost">Exchange</label>
              <select name="exchange" id="exchange">
                <option value="">Any</option>
                <% for (let i = 0; i < exchanges.length; i++) { %>
                <option value="<%= exchanges[i] %>"><%= exchanges[i] %></option>
                <% } %>
              </select>
            </div>
            <input id="filter-sub" type="submit" value="Filter" />
          </form>
        </div>

        <% } else if (profile[0].stock_pref === 'Crypto'){ %>

        <div class="filter">
          <form
            action="/filter"
            method="GET"
            style="grid-template-columns: 2fr 2fr 1fr"
          >
            <div class="currency_base">
              <label for="currency_base" class="jost">Currency Base</label>
              <select name="currency_base" id="currency_base">
                <option value="">Any</option>
                <% for (let i = 0; i < currency_base.length; i++) { %>
                <option value="<%= currency_base[i] %>">
                  <%= currency_base[i] %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="currency_quote">
              <label for="currency_quote" class="jost">Currency Quote</label>
              <select name="currency_quote" id="currency_quote">
                <option value="">Any</option>
                <% for (let i = 0; i < currency_quote.length; i++) { %>
                <option value="<%= currency_quote[i] %>">
                  <%= currency_quote[i] %>
                </option>
                <% } %>
              </select>
            </div>
            <input id="filter-sub" type="submit" value="Filter" />
          </form>
        </div>

        <% } else if (profile[0].stock_pref === 'Forex') { %>

        <div class="filter">
          <form
            action="/filter"
            method="GET"
            style="grid-template-columns: 2fr 2fr 1fr"
          >
            <div class="currency_base">
              <label for="currency_base" class="jost">Currency Base</label>
              <select name="currency_base" id="currency_base">
                <option value="">Any</option>
                <% for (let i = 0; i < currency_base.length; i++) { %>
                <option value="<%= currency_base[i] %>">
                  <%= currency_base[i] %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="currency_group">
              <label for="currency_group" class="jost">Currency Group</label>
              <select name="currency_group" id="currency_group">
                <option value="">Any</option>
                <% for (let i = 0; i < currency_group.length; i++) { %>
                <option value="<%= currency_group[i] %>">
                  <%= currency_group[i] %>
                </option>
                <% } %>
              </select>
            </div>
            <input id="filter-sub" type="submit" value="Filter" />
          </form>
        </div>

        <% } %>

        <div class="option-title jost-head">
          <h1><%= profile[0].stock_pref %></h1>
        </div>

        <!--cards-->

      <div class="card-wrap hide">
        <div class="favorite">
          <p class="jost">+ Favorite</p>
        </div>
        <div class="card">
          <div class="main">
            <div class="logo">
              <img src="" alt="">
            </div>
            <div class="card-title">
              <h3 class="jost-head">CRP</h3>
              <p class="jost">Corp Co.</p>
            </div>
            <div class="change">
              <h3 class="jost">1.96%</h3>
              <h3 class="jost">$196.44</h3>
            </div>
            <div class="volume">
              <h3 class="jost">Volume:</h3>
              <h3 class="jost">11324437</h3>
            </div>
            <div class="indicator"></div>
          </div>
          <div class="graph">
            <img class="chart" src="https://quickchart.io/chart?chart={
              type: 'ohlc',
              data: {
                datasets: [
                  {
                    label: '',
                    yAxisID: 'y1',
                    data: [

                      <% for (let i = 0; i < stock_data.values.length - 5; i++) { %>
                        ['<%= stock_data.values[i].datetime %>', <%= stock_data.values[i].open %>, <%= stock_data.values[i].high %>, <%= stock_data.values[i].low %>, <%= stock_data.values[i].close %> ],                         
                    <% } %>

                    ].map(([d,o,h,l,c]) => ({x:new Date(d).getTime(),o,h,l,c})),
                    color: {
                      up: 'rgb(98, 236, 98)',
                      down: 'rgb(255,106,106)',
                      unchanged: 'white',
                    },
                    
                  },
                  {
                    type: 'bar',
                    yAxisID: 'y2',
                    backgroundColor: 'pink',
                    label: 'Volume',
                    data: [

                      <% for (let i = 0; i < stock_data.values.length - 5; i++) { %>
                        ['<%= stock_data.values[i].datetime %>', <%= stock_data.values[i].volume %>],
                <%  } %>

                    ].map(([d,y]) => ({x:new Date(d).getTime(),y})),
                  },
                  {
                    type: 'line',
                    yAxisID: 'y1',
                    borderColor: 'pink',
                    backgroundColor: '',
                    borderWidth: 2,
                    pointRadius: 0,
                    label: 'SMA',
                    data: [

                    <% for (let i = 0; i < stock_data.values.length - 5; i++) { %>

                      ['<%= stock_data.values[i].datetime %>', <%= averages[i] %>],

                  <%  } %>

                    ].map(([d,y]) => ({x:new Date(d).getTime(),y})),
                  },
                ],
              },
              options: {
                scales:{                
                  x:{
                    adapters: {
                      date: {
                        zone: 'UTC-4'
                      }
                    },
                    grid: {
                      display: false
                    },
                    time: {
                      unit: 'day',
                      stepSize: 1,
                      displayFormats: {
                        day: 'MMM d',
                        month: 'MMM d',
                      }
                    },
                    ticks: {
                      display: false
                    },
                  },
                  y1: {
                    stack: 'stockChart',
                    stackWeight: 10,
                    weight: 2,
                    grid: {
                      display: false
                    },
                  },           
                  y2: {
                    display: false,
                    stack: 'stockChart',
                    stackWeight: 1,
                    weight: 1,
                    grid: {
                      display: false
                    },
                  },
                },
                plugins: {
                  legend: {
                    display: false,
                  },
                  title: {
                    display: false,
                  },
                },
              },
            }&backgroundColor=transparent&width=600&height=300&devicePixelRatio=1.0&format=png&version=3" alt="">
            <p class="jost">Time Frame: 30min</p>
          </div>
          <div class="expander">
            <img src="./images/dwn_carrot.png" alt="" />
          </div>
        </div>
      </div>
        
      </div>

      

      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <script>
      /* pre-load content */

      window.addEventListener("load", () => {
        setTimeout(() => {
          document.querySelector(".loader").classList.add("hide");
        }, 500);

        setTimeout(() => {
          if (document.querySelector(".loader").classList.contains("hide")) {
            console.log("gotcha");
            setTimeout(() => {
              document.querySelector(".opener").classList.add("fade-in");
            }, 750);
            setTimeout(() => {
              document.querySelector(".opener").classList.remove("fade-in");
            }, 1000);
            setTimeout(() => {
              document.querySelector(".opener").classList.add("hide");
            }, 1000);
          }
        }, 750);

        setTimeout(() => {
          document.querySelector(".first").classList.add("first-ani");
          document.querySelector(".second").classList.add("second-ani");
        }, 600);
      });

      /*  setup  */

      function showLinks() {
        let links = document.querySelectorAll("input");
        let sideLinks = document.querySelectorAll(".stock_option");
        let selectors = document.querySelectorAll("select");

        links.forEach((link) => {
          link.classList.add("show-link");
        });
        sideLinks.forEach((link) => {
          link.classList.add("show-link");
        });
        selectors.forEach((link) => {
          link.classList.add("show-link");
        });

        document.querySelector(".sub").classList.add("show-link");
       
      }

      setTimeout(() => {
        showLinks();
      }, 2500);

      /* button switch */

      let selection = [];

      document.querySelectorAll(".option").forEach((option) => {
        option.addEventListener("click", () => {
          selection.push(option.value);
          document.getElementById("hiddenInput").value =
            selection[selection.length - 1];
          if (selection.length >= 2) {
            document
              .getElementById(selection[selection.length - 1])
              .classList.add("selected");
            document
              .getElementById(selection[selection.length - 2])
              .classList.remove("selected");
          } else {
            document.getElementById(selection).classList.add("selected");
          }
        });
      });

      /*  greeter  */

      setTimeout(() => {
        if (document.querySelector(".first").classList.contains("first-ani")) {
          let greet = document.querySelector(".greet-container");
          let main = document.querySelector(".wrapper");
          let nav = document.querySelector(".nav");
          greet.classList.add("hide");

          greet.style.height = 0;
        }
      }, 3000);

      setTimeout(() => {
        let main = document.querySelector(".wrapper");
        let nav = document.querySelector(".nav");
        let cards = document.querySelector(".card-wrap");
        main.classList.remove("hide");
        nav.classList.remove("hide");
        cards.classList.remove("hide");
        setTimeout(() => {
          if (!cards.classList.contains('hide')) {
           cards.classList.add('show-link'); 
          }
        }, 100)
      }, 4000);

      /* side-nav */

      document.querySelector(".side-button").addEventListener("click", () => {
        document.querySelector(".side-nav").classList.remove("nav-hide");
        document.querySelector(".side-button").classList.add("nav-hide");
        document.getElementById("overlay").classList.add("show-overlay");
      });

      document.querySelector(".closer").addEventListener("click", () => {
        document.querySelector(".side-nav").classList.add("nav-hide");

        setTimeout(() => {
          document.querySelector(".side-button").classList.remove("nav-hide");
          document.getElementById("overlay").classList.remove("show-overlay");
        }, 400);
      });

      document.getElementById("overlay").addEventListener("click", () => {
        document.querySelector(".side-nav").classList.add("nav-hide");

        setTimeout(() => {
          document.querySelector(".side-button").classList.remove("nav-hide");
          document.getElementById("overlay").classList.remove("show-overlay");
        }, 400);
      });

      document.addEventListener("mousemove", function (event) {
        let mousex = event.clientX;

        if (event.clientX <= 20) {
          document.querySelector(".side-nav").classList.remove("nav-hide");
          document.querySelector(".side-button").classList.add("nav-hide");
          document.getElementById("overlay").classList.add("show-overlay");

          document.querySelector(".closer").addEventListener("click", () => {
            document.querySelector(".side-nav").classList.add("nav-hide");

            setTimeout(() => {
              document
                .querySelector(".side-button")
                .classList.remove("nav-hide");
              document
                .getElementById("overlay")
                .classList.remove("show-overlay");
            }, 400);
          });
        }
      });

      /* side-nav links */

      document.querySelectorAll(".stock_option").forEach((option) => {
        option.addEventListener("click", () => {
          fetch("/selection", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: option.attributes.value.value,
          }).then((response) => {
            if (!response.ok) {
              throw new Error("error loading content");
              response.status(500);
            }
            return response.json();
          });
        });
      });

    /* card expander */

      document.querySelector('.expander').addEventListener('click', () => {
        let g = document.querySelector('.graph');
        g.classList.toggle('collapse');
        void g.offsetWidth;
      })

    </script>
  </body>
</html>
